# Introducción a NumPy

**¿Qué es NumPy?**
* NumPy es una biblioteca para el lenguaje de programación Python, que soporta la creación y manipulación de arrays y matrices multidimensionales.
* Es una abreviatura de "Numerical Python".

**Importancia de NumPy en Data Science**
* Eficiencia en operaciones numéricas y manipulación de datos.
* Facilita la realización de cálculos matemáticos complejos
* Ampliamente utilizado para tareas de análisis de datos, debido a su velocidad y recursos de memoria optimizados.

**Importación de NumPy**
* NumPyse se importa a nuestros cuadernos con el comando `import numpy as np`

In [2]:
import numpy as np
import pandas as pd

In [5]:
ruta = r"C:\Users\Usuario\Documents\COSAS PYTHON DATA SCIENCE Y ML UDEMY)\Ciudades_Visitadas_Latinoamerica_2023.csv"

In [6]:
df = pd.read_csv(ruta)

In [7]:
df

              Ciudad       País  Población  Visitantes
0   Ciudad de México     México    9265833    21000000
1       Buenos Aires  Argentina    3059574    15000000
2     Río de Janeiro     Brasil    6748314    13000000
3               Lima       Perú    9756020     9000000
4             Bogotá   Colombia    7181663     8000000
5  Santiago de Chile      Chile    6199241     7500000
6          São Paulo     Brasil   12333146    20000000
7          La Habana       Cuba    2164182     4000000
8             Cancún     México     888124     5000000
9          Cartagena   Colombia    1036671     3000000

In [8]:
np.round(df['Población'].mean())

5863277.0

In [10]:
np.mean(df['Población'])

5863277.0

In [14]:
np.max(df['Visitantes'])

21000000

In [15]:
# ej 1

In [17]:
np.mean(df['Población'])

5863276.8

In [18]:
# ej 2

In [25]:
np.min(df['Visitantes'])
min_visit = df[df['Visitantes'] == np.min(df['Visitantes'])]

In [26]:
min_visit

      Ciudad      País  Población  Visitantes
9  Cartagena  Colombia    1036671     3000000

In [27]:
# ej 3

In [28]:
np.max(df['Visitantes'])

21000000