In [1]:
import pandas as pd

In [3]:
datos = {"nombre": ["Pedro", "Juan", "Pepito"], "edad": [25,19,51]}

In [4]:
print(datos)

{'nombre': ['Pedro', 'Juan', 'Pepito'], 'edad': [25, 19, 51]}

In [9]:
dataframe = pd.DataFrame(datos)
dataframe

   nombre  edad
0   Pedro    25
1    Juan    19
2  Pepito    51

In [8]:
type(dataframe)

pandas.core.frame.DataFrame

In [11]:
dataframe["nombre"]

0     Pedro
1      Juan
2    Pepito
Name: nombre, dtype: object

In [13]:
datos2 = {"nombre": ['Ana', 'Luis', 'Carlos'], "edad": [30, 25 , 40]}
df2 = pd.DataFrame(datos)
print(df2)

   nombre  edad
0   Pedro    25
1    Juan    19
2  Pepito    51

In [14]:
df_empleados = pd.DataFrame(datos)

In [15]:
edades = df_empleados.edad

In [16]:
print(edades)

0    25
1    19
2    51
Name: edad, dtype: int64

In [17]:
type(edades)

pandas.core.series.Series

In [25]:
shapedf, columnsdf, indexdf = df_empleados.shape, df_empleados.columns, df_empleados.index

In [26]:
print(shapedf, columnsdf, indexdf)

(3, 2) Index(['nombre', 'edad'], dtype='object') RangeIndex(start=0, stop=3, step=1)

In [27]:
datos_clima = [
    ["Ciudad", "Temperatura", "Precipitaciones"],
    ["Ciudad A", 22, 0],
    ["Ciudad B", 18, 20],
    ["Ciudad C", 15, 5],
    ["Ciudad D", 25, 0],
    ["Ciudad E", 30, 2],
    ["Ciudad F", 20, 15]
]

In [28]:
df_clima = pd.DataFrame(datos_clima)

In [29]:
df_clima

          0            1                2
0    Ciudad  Temperatura  Precipitaciones
1  Ciudad A           22                0
2  Ciudad B           18               20
3  Ciudad C           15                5
4  Ciudad D           25                0
5  Ciudad E           30                2
6  Ciudad F           20               15

In [30]:
df_clima.describe()

             0            1  2
count        7            7  7
unique       7            7  6
top     Ciudad  Temperatura  0
freq         1            1  2

In [31]:
df_clima.tail

<bound method NDFrame.tail of           0            1                2
0    Ciudad  Temperatura  Precipitaciones
1  Ciudad A           22                0
2  Ciudad B           18               20
3  Ciudad C           15                5
4  Ciudad D           25                0
5  Ciudad E           30                2
6  Ciudad F           20               15>

In [32]:
df_clima.head

<bound method NDFrame.head of           0            1                2
0    Ciudad  Temperatura  Precipitaciones
1  Ciudad A           22                0
2  Ciudad B           18               20
3  Ciudad C           15                5
4  Ciudad D           25                0
5  Ciudad E           30                2
6  Ciudad F           20               15>