In [1]:
import pandas as pd

In [3]:
fechas = pd.Series(pd.date_range('20260101', periods=6))

In [4]:
fechas

0   2026-01-01
1   2026-01-02
2   2026-01-03
3   2026-01-04
4   2026-01-05
5   2026-01-06
dtype: datetime64[ns]

In [8]:
fechas2 = pd.Series(pd.date_range('20260101', periods=6, freq='D'))
fechas2

0   2026-01-01
1   2026-01-02
2   2026-01-03
3   2026-01-04
4   2026-01-05
5   2026-01-06
dtype: datetime64[ns]

In [9]:
ruta = r"C:\Users\Usuario\Documents\COSAS PYTHON DATA SCIENCE Y ML UDEMY)\Mercado+de+Valores+España.csv"

In [12]:
df = pd.read_csv(ruta)
df

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,02/01/2019,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,03/01/2019,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,04/01/2019,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,07/01/2019,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,08/01/2019,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409
...,...,...,...,...,...,...,...,...,...,...
8570,VIS,09/12/2019,48.70,48.76,40236,1958325.66,48.70,48.96,48.44,48.6710
8571,VIS,10/12/2019,48.16,48.70,60198,2895965.78,48.16,48.74,47.70,48.1201
8572,VIS,11/12/2019,47.96,48.16,63000,3012462.12,47.96,48.42,47.52,47.8169
8573,VIS,12/12/2019,48.42,47.96,50218,2429199.80,48.42,48.66,47.76,48.3731
8574,VIS,13/12/2019,48.64,48.42,62427,3038685.10,48.64,49.18,48.12,48.6758

In [14]:
type(df['Fecha'][0])

str

In [15]:
df_fecha = df['Fecha']

In [37]:
df_fecha = pd.to_datetime(df_fecha, format='%D/%M/%Y')

In [38]:
df['Fecha'] = df_fecha

In [39]:
df

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,2019-02-01,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,2019-03-01,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,2019-04-01,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,2019-07-01,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,2019-08-01,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409
...,...,...,...,...,...,...,...,...,...,...
8570,VIS,2019-09-12,48.70,48.76,40236,1958325.66,48.70,48.96,48.44,48.6710
8571,VIS,2019-10-12,48.16,48.70,60198,2895965.78,48.16,48.74,47.70,48.1201
8572,VIS,2019-11-12,47.96,48.16,63000,3012462.12,47.96,48.42,47.52,47.8169
8573,VIS,2019-12-12,48.42,47.96,50218,2429199.80,48.42,48.66,47.76,48.3731
8574,VIS,2019-12-13,48.64,48.42,62427,3038685.10,48.64,49.18,48.12,48.6758

In [22]:
df_fecha[0]

Timestamp('2019-02-01 00:00:00')

In [23]:
type(df_fecha[0])

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
df_fecha[0].year

2019

In [28]:
df_mas_5_dias = df_fecha + pd.Timedelta(days=5)

In [29]:
df_mas_5_dias

0      2019-02-06
1      2019-03-06
2      2019-04-06
3      2019-07-06
4      2019-08-06
          ...
8570   2019-09-17
8571   2019-10-17
8572   2019-11-17
8573   2019-12-17
8574   2019-12-18
Name: Fecha, Length: 8575, dtype: datetime64[ns]

In [30]:
# ej 1

In [31]:
primera_semana_2024 = pd.Series(pd.date_range('20240101', periods=7))
primera_semana_2024

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
dtype: datetime64[ns]

In [32]:
# ej 2

In [40]:
fecha_d = {"Fechas": ['2024-01-01', '2024-02-14', '2024-03-01']}
df2 = pd.DataFrame(fecha_d)
df2

       Fechas
0  2024-01-01
1  2024-02-14
2  2024-03-01

In [47]:
df_fecha2 = pd.to_datetime(df2['Fechas'])

In [49]:
df_fecha2.dt.strftime('%d/%m/%Y')

0    01/01/2024
1    14/02/2024
2    01/03/2024
Name: Fechas, dtype: object

In [51]:
# ej 3 mismo que el ej 2