In [2]:
import pandas as pd

In [3]:
ruta = r"C:\Users\Usuario\Documents\COSAS PYTHON DATA SCIENCE Y ML UDEMY)\Top-Películas.csv"
df = pd.read_csv(ruta)

In [4]:
df

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
0,0,0.0,The Shawshank Redemption,Frank Darabont,1994.0,142.0,Drama,9.3,82.0,28.34
1,1,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Crimen,9.2,100.0,134.97
2,2,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Drama,9.2,100.0,134.97
3,3,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Acción,9.0,84.0,534.86
4,4,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Crimen,9.0,84.0,534.86
...,...,...,...,...,...,...,...,...,...,...
2527,2527,998.0,The Invisible Man,James Whale,1933.0,71.0,Terror,7.6,87.0,0.00
2528,2528,998.0,The Invisible Man,James Whale,1933.0,71.0,Ciencia Ficción,7.6,87.0,0.00
2529,2529,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Acción,7.6,0.0,0.00
2530,2530,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Crimen,7.6,0.0,0.00
2531,2531,999.0,Cell 211,Daniel MonzÃ³n,2009.0,113.0,Drama,7.6,0.0,0.00

In [10]:
df_ord = df.sort_values(by='rating', ascending=False)

In [11]:
df_ord.head()

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
0,0,0.0,The Shawshank Redemption,Frank Darabont,1994.0,142.0,Drama,9.3,82.0,28.34
2,2,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Drama,9.2,100.0,134.97
1,1,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Crimen,9.2,100.0,134.97
9,9,4.0,12 Angry Men,Sidney Lumet,1957.0,96.0,Crimen,9.0,97.0,4.36
15,15,6.0,The Godfather Part II,Francis Ford Coppola,1974.0,202.0,Drama,9.0,90.0,57.30

In [15]:
df_ord = df.sort_values(by=['rating', 'recaudación(M)'], ascending=False)

In [16]:
df_ord.head()

,indice_global,indice_estricto,título,director,año,duración,género,rating,metascore,recaudación(M)
0,0,0.0,The Shawshank Redemption,Frank Darabont,1994.0,142.0,Drama,9.3,82.0,28.34
1,1,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Crimen,9.2,100.0,134.97
2,2,1.0,The Godfather,Francis Ford Coppola,1972.0,175.0,Drama,9.2,100.0,134.97
3,3,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Acción,9.0,84.0,534.86
4,4,2.0,The Dark Knight,Christopher Nolan,2008.0,152.0,Crimen,9.0,84.0,534.86

In [18]:
df_agrup = df.groupby('género')['rating'].mean()
df_agrup

género
Acción             7.987255
Animación          7.943902
Aventura           7.980435
Biografía          7.971698
Ciencia Ficción    7.986567
Comedia            7.909910
Crimen             7.993500
Deportes           7.980000
Drama              7.980444
Familiar           7.932692
Fantasía           7.929508
Film-Noir          7.977273
Guerra             8.053191
Historia           7.931818
Misterio           7.991262
Musica             7.909677
Musical            7.943750
Romance            7.937398
Terror             7.875758
Thriller           7.929286
Western            8.006250
Name: rating, dtype: float64

In [21]:
df_agrup2 = df.groupby('año')['recaudación(M)'].sum()
df_agrup2.sort_values(ascending=False).head(10)

año
2014.0    8015.90
2019.0    7092.95
2010.0    6899.96
2016.0    6860.23
2015.0    6817.12
2012.0    6487.22
2009.0    6486.34
2018.0    5992.02
2008.0    5603.30
2017.0    5381.90
Name: recaudación(M), dtype: float64

In [22]:
#ej 1

In [23]:
datos = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D'],
    'año': [2001, 2000, 2005, 2010],
    'rating': [7.2, 6.5, 8.1, 7.5]
}

In [24]:
df = pd.DataFrame(datos)

In [25]:
df

       titulo   año  rating
0  Pelicula A  2001     7.2
1  Pelicula B  2000     6.5
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5

In [28]:
df_ordenado = df.sort_values(by='año')
df_ordenado

       titulo   año  rating
1  Pelicula B  2000     6.5
0  Pelicula A  2001     7.2
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5

In [29]:
#ej 2

In [32]:
df_ordenado2 = df.sort_values(by=["rating", "año"], ascending=False)
df_ordenado2

       titulo   año  rating
2  Pelicula C  2005     8.1
3  Pelicula D  2010     7.5
0  Pelicula A  2001     7.2
1  Pelicula B  2000     6.5

In [33]:
#ej 3

In [34]:
datos2 = {
    'titulo': ['Pelicula A', 'Pelicula B', 'Pelicula C', 'Pelicula D', 'Pelicula E'],
    'género': ['Acción', 'Drama', 'Acción', 'Comedia', 'Drama'],
    'rating': [7.2, 8.5, 9.1, 6.5, 7.8]
}

In [35]:
df2 = pd.DataFrame(datos2)
df2

       titulo   género  rating
0  Pelicula A   Acción     7.2
1  Pelicula B    Drama     8.5
2  Pelicula C   Acción     9.1
3  Pelicula D  Comedia     6.5
4  Pelicula E    Drama     7.8

In [36]:
df2_group = df2.groupby("género")["rating"].mean()
df2_group

género
Acción     8.15
Comedia    6.50
Drama      8.15
Name: rating, dtype: float64

In [ ]:
type(df_agrup2)